{{#if error}}
<h1>Login failed: {{error}}</h1>
{{/if}}
<form action="/doLogin" method="post">
  User name: <input type="text" name="name"><br>
  User password: <input type="password" name="pass"><br>
  {{#if nextUrl}}
  <input type="hidden" name="nextUrl" value="{{nextUrl}}">
  {{/if}}
  <input type="submit" value="Login">
</form>
