<a href="/pardavejai/edit">Pridėti naują</a>
<ul>
    {{#each sarasas}}
    <li><a href="/pardavejai/edit/{{_id}}">{{pavadinimas}}</a> <a href="/pardavejai/delete/{{_id}}">X</a></li>
    {{/each}}
</ul>
<a href="/">Back</a>